section#festivals {
}

section#festivals .filters {
    font-size: 18px;
    font-family: var(--font-roboto-condensed);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -31px;
    float: right;
    border-bottom: 1px solid var(--color-recomana-red);
    padding: 0 12px 6px 12px;
}

section#festivals .filters a {
    color: var(--color-recomana-black);
}

section#festivals .filters a.selected {
    color: var(--color-recomana-red);
}

section#festivals .square-article {
	font-size: 14px;
}
section#festivals .square-article .overlay {
	min-height: 104px;
}
section#festivals .square-article .overlay.itineraris-recomana {
	background-image: url(../images/icon-itineraris-recomana.png);
	background-position: calc(100% - 12px) calc(100% - 12px);
	background-repeat: no-repeat;
	padding-right: 55px;
}



section#festival-programa {

}
section#festival-programa #festival-carousel {
    margin-bottom: 30px;
}

section#festival-programa #festival-carousel .carousel-item {
    padding-bottom: 35%;
    background-size: cover;
    background-position: center;
}