section#home {
	margin-top: -15px;
}
section#home h5.block-title {
	text-transform: uppercase;
	color: var(--color-recomana-red);
	margin-bottom: 4px;
	margin-top: 15px;
}


section#home #home-slider-1 {
	 font-size: 18px; 
}
section#home #home-slider-1 .square-article {
	 font-size: 18px; 
}


section#home h5.block-title .category {
	padding-left: 1.2em;
	white-space: nowrap;
}
section#home h5.block-title .category:before {
	content: "▶";
	position: absolute;
	margin-left: -1.1em;
}


section#home .recomanats-per-categoria > div {
	margin-bottom: 6px;
}
section#home .recomanats-per-categoria .square-article {
	padding-bottom: calc(100% - 10px - 0.25rem);
}


section#home .all-categories.categories-bar {
	height: 20px;
}
section#home .all-categories.categories-bar .category-color {
	height: 20px;
	flex-grow: 1;
}



section#home .four-articles h5.block-title {
	height: 70px;
	display: flex;
	align-items: flex-end;
	margin-top: 0;
}
section#home .four-articles h5.block-title img {
	margin-right: 9px;
}

section#home .banner {
	margin-bottom: 6px;
	text-align: center;
}


/* mobile */
@media (max-width: 576px) {

	section#home #home-slider-2 .square-article {
		/*margin-bottom: 6px;*/
	}

}



#megamenu-portada ul {
	margin: 0;
	padding: 0;
}
#megamenu-portada li {
	margin: 0 0 6px 0;
	list-style: none;
}
#megamenu-portada a {
	color: #535353;
	font-weight: 300;
}
#megamenu-portada a:hover {
	color: var(--color-recomana-red);
}
#megamenu-portada header {
	border-bottom: 1px solid #b5b5b5;
	padding: 10px 0;
}
#megamenu-portada main > .container > .row > div {
	padding-top: 12px;
	padding-bottom: 12px;
}
#megamenu-portada main > .container > .row > div:not(:last-child) {
	border-right: 1px solid #b5b5b5;
}
#megamenu-portada .column-count-2 {
	column-count: 2;
}
#megamenu-portada .top-10 {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 15px 0 15px;
	justify-content: space-between;
}
#megamenu-portada .top-10 li {
	width: calc(50% - 5px);
	flex-shrink: 0;
	margin-bottom: 10px;
}
#megamenu-portada .top-10 li a {
	display: block;
	padding-bottom: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
}
#megamenu-portada .top-10 .rank {
	position: absolute;
	right: 0;
	top: 0;
	background-color: var(--color-recomana-red);
	color: #ffffff;
	font-size: 25px;
	font-weight: 900;
	font-family: var(--font-roboto);
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}