section#novaveu-home {
    margin-top: -60px;
    margin-bottom: -30px;
}
section#novaveu-home > .container {
	padding-top: 59px;
}
section#novaveu-home .home-header {
	margin-bottom: 20px;
}
section#novaveu-home .home-header aside {
	background-color: white;
	background-image: url(../images/novaveu/logo-novaveu-big.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left bottom;
	min-height: 337px;
}
section#novaveu-home .home-header main {
	background-size: cover;
	background-position: center center;
}
section#novaveu-home .embed-twitter,
section#novaveu-home .embed-instagram {
	max-height: 400px;
	overflow-y: auto;
}